<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <title>weather app</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
    <h1>
        <%= tempF %> °F</h1>
    <h2>
        <%= weatherDes %>
    </h2>
    <h2>
        <%= cityName %>
    </h2>
    <h2></h2>
    <canvas id="icon1" width="128" height="128"></canvas>
</body>

</html>